@media only screen and (max-width:430px) and (max-height:932px) {
    .background-image{
        background-size: cover;
    }
    .background-opacity{
        
    }
    .calendar-icon-head{
        font-size: .7rem;
        margin-top: 2%;
        /* margin-left: -79%; */
    }
    .list-icon-menu{
        position: relative;
        left: 60%;
        
    }
    .menu{
        display: none;
    }
    .head{
        display: flex;
        min-width: 75%;
        margin-right: 2px;
        font-size: .9rem;
    }
    #list-icon{
        display: block;
        position: relative;
        left: 80%;
        top: -40%;
        height: 6vh;
        margin-top: -2%;
    }
    .footer-logo{
        max-width: 65vw;
    }
}
